.template-example{
  margin-bottom: 30px;
  .template-title-example{
    
    font-weight: normal;
    color: #34495E;

    &:after{
      display: none;
    }
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 20px;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0 15px;
  }
}


.list-icons{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li{
    float: left;
    margin-right: 5px;
  }
  
}

.section-container.about {
  padding: 35px 0;
}

.avatar{
  border: 2px solid #fff;      
  border-radius: 50% 50% 50% 50%;      
  padding: 4px; 
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transform: rotate(0deg) scale(0.9) skew(1deg) translate(10px);
  -webkit-transform: rotate(0deg) scale(0.9) skew(1deg) translate(10px);
  -moz-transform: rotate(0deg) scale(0.9) skew(1deg) translate(10px);
  -o-transform: rotate(0deg) scale(0.9) skew(1deg) translate(10px);
  -ms-transform: rotate(0deg) scale(0.9) skew(1deg) translate(10px);
  }

.avatar:hover{
  border-radius: 50% 50% 50% 50%;
  transform: rotate(10deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(10deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(10deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(10deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(10deg) scale(1) skew(1deg) translate(0px);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#contact a {
  color: #838383;
}

.carousel .carousel-control { visibility: hidden; }